/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */







input.button{
	color:black;
	font-size:17px;	
	font-weight: bold;
	padding: 2px;
}

h1{
	
	color: white;
	font-style: italic;
	padding-left: 10px;
}


h2{
	font-size: 30px;
	padding-left : 20px
}



#header{
	background: #113399;	

}

#header2{
	padding-left: 10px;
	
}

#textInstructions{
	color:white;
	font-size: 12;
	
}


#ErrorText{
	font-size:18px;
	padding-left: 20px
	
}

body{
	background:#bbbbff;
}


input.text_field{
	color:black;
	text-align: left;
	font-size: 18px;
	width: 40%;
	padding-left: 5px;
	font-style: italic; 
} 


#end{
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #4455dd;
	opacity: 0.8
}

#back{
	font-size: 19px;
	color: #ffffff;
	text-align: center;
	padding-left: 10px;

}



h2{
  color: #113399;
}


#textUrl{
  font-style: italic;
  color: black;
  font-size: 20px;
}
#Propertie{
  font-weight: bold
  
}


#body{
  background-color: #ffffff;
  font-size: 19px;
 
}

#color1{
  background: #ffffff;
  
}

#color2{
  background: #cdcdcd;
}
